* {
    box-sizing: border-box;
} 

body {
    font-size: 17px;
    margin: 50px;
    font-family: arial;
}

table {
    width: 600px;
} 
table thead {
    background-color: #ccc;
}


td, th {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #eee;
}

tbody td {
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}