h1{
    text-align: center;
    font-family: arial;
    color:#0000ff;
}

figure {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    padding: 20px;
    max-width:500px;
    margin: auto;
    margin-top: 20px;
}

img {
    max-width: 500px;
    max-height: 500px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.container {
    background-color: #ccc;
    color: white;
    font-size: 17px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.item {
   
    background-color: #0000ff;
    padding: 20px;
    border-radius: 7px;
}

.itema {
    grid-column-start: 1;
    grid-column-end: 5;
}

.itemb {
    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 5;
}

.itemc{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 6;
}

.itemn{
    grid-column-start: 2;
    grid-column-end: 6;
}